# Example environment variables for the WasteWise backend.
# Local environment variables for the WasteWise backend.
#Application

APP_NAME=
APP_VERSION=
APP_ENV=
DEBUG=


#Server
HOST=
PORT=

#Database
DATABASE_URL=

DB_POOL_SIZE=
DB_MAX_OVERFLOW=
DB_POOL_TIMEOUT=
DB_POOL_RECYCLE=
DB_POOL_PRE_PING=
DB_ECHO=

#jwt service
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKNE_EXPIRE_DAYS=



#Email service
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=
FRONTEND_URL=
EMAIL_VERIFICATION_EXPIRE_MINUTES=

#password reset
PASSWORD_RESET_EXPIRE_MINUTE=



